!!!
html
  head
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Amaranth')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='/rss')
    script(src='/js/less.min.js', type='text/javascript')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') // stick with a specific version of jquery to avoid massive breakages
    script(src='/js/jquery.jeditable.js')
    if typeof(js) != 'undefined'
      each i in js
        script(src='/js/' + i)
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29081450-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #header-bkg
      #header
        #logo
          a(href='/')
            span uguu~
            | tracker
        #nav
          ul
            if username
              a(href='/user/'+username): li= username
              a(href='/logout'): li Logout
            else
              a(href='/login'): li Login
            a(href='/upload'): li Upload
            a(href='/rss'): li RSS
            li.search
              form(action='/')
                select(name='searchcategory')
                  each cat_option, category in categories
                    option(value=category)= category
                input(name='searchtext', value='', size='30')
                //-input(type='submit', value='Search')
    #content
      if (flash.error)
        #flash.error= flash.error
      if (flash.info)
        #flash.info= flash.info
      block content

    #footer
      p The uguu~tracker is still under development (
        a(href='https://github.com/mileswu/nyaa2') repo
        |  on Github). Any bugs or requests can be filed
        a(href='https://github.com/mileswu/nyaa2/issues/new')  here
        |  or with delamoo or torque at #uguu~subs on rizon IRC.
      p None of the files linked here are actually hosted on this site. By downloading the files, you are claiming that you own the original.
