extends ../layout

block content
	h1= title

	h2 Dates
	p Last logged on #{humanize_date(user.lastLogin)} ago. Registered #{humanize_date(user.joinDate)} ago.

	h2 Uploads (#{torrents.length})
	if torrents.length > 0
		include ../torrents/torrenttable
